

.flex-container {
    height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  margin: -8px;
}

.one {
    width: 100%;
    height: 250px;
    color: white;
    background-color: rgb(21, 25, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 19px;

}

.two {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;

}

.three {
    width: 100%;
    height: 250px;
    ba6ckground-color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 11px;

}

.four {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;

}

#blue {
    border-radius: 30px;
    width: 70%;
    height: 50%;
    background-color: rgb(68, 98, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.five {
    width: 100%;
    height: 70px;
    background-color: rgb(21, 25, 46);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#foto {
    width: 50px;
    height: auto;
}

#button1 {
    color: white;
    background-color: blue;
   border-color: rgba(255, 192, 203, 0);
}

#content1 {
    color: rgb(223, 226, 240);
}